[user]
    email = juniorsundar@gmail.com
    name = Junior Sundar
[credential]
    helper = store
[gui]
    recentrepo = /home/juniorsundar/Dropbox/neorg
[core]
    pager = delta
    editor = nvim
[interactive]
    diffFilter = delta --dark --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
[include]
    path = ~/.config/delta/catppuccin.gitconfig
[delta]
    line-numbers = true
    side-by-side = false
    dark = true
    features = base16
    ; features = 'Visual Studio Dark+'
    navigate = true
[pager]
    blame  = delta --dark --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
    diff   = delta --dark --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
    reflog = delta --dark --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
    show   = delta --dark --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
[merge]
    conflictstyle = zdiff3
[diff]
    colorMoved = default
[safe]
    directory = /etc/nixos
