[user]
    email = juniorsundar@gmail.com
    name = Junior Sundar
[credential]
    helper = store
[gui]
    recentrepo = /home/juniorsundar/Dropbox/neorg
[core]
    pager = delta
    editor = nvim
[interactive]
    diffFilter = delta --dark --paging=never --line-numbers --hyperlinks
[delta]
    line-numbers = true
    side-by-side = false
    dark = true
    features = colibri
    ; features = 'Visual Studio Dark+'
    navigate = true
[pager]
    blame  = delta --dark --paging=never --line-numbers --hyperlinks
    diff   = delta --dark --paging=never --line-numbers --hyperlinks
    reflog = delta --dark --paging=never --line-numbers --hyperlinks
    show   = delta --dark --paging=never --line-numbers --hyperlinks
[merge]
    conflictstyle = zdiff3
[diff]
    colorMoved = default
[safe]
    directory = /etc/nixos
