[user]
	email = juniorsundar@gmail.com
	name = Junior Sundar
[credential]
	helper = store
[gui]
	recentrepo = /home/juniorsundar/Dropbox/neorg
[core]
    pager = delta
	editor = nvim
[interactive]
    diffFilter = delta --color-only
[include]
    path = ~/.config/delta/catppuccin.gitconfig
[delta]
    line-numbers = true
    side-by-side = false
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    dark = true
    features = cyberdream
    # light = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
