[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
    branch = master
[submodule ".config/emacs"]
	path = .config/emacs
	url = git@github.com:juniorsundar/emacs.git
    branch = main
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:juniorsundar/nvim.git
    branch = main
[submodule ".config/nvim_plugins/neorg_utils"]
	path = .config/nvim_plugins/neorg_utils
	url = https://github.com/juniorsundar/neorg_utils.git
