[submodule "nvim"]
	path = nvim/.config/nvim
	url = https://github.com/juniorsundar/nvim
[submodule "emacs"]
	path = emacs/.config/emacs
	url = https://github.com/juniorsundar/emacs
[submodule "fonts"]
	path = fonts/.local/share/fonts
	url = https://github.com/juniorsundar/fonts
[submodule "cling.nvim"]
	path = nvim/.config/nvim_plugins/cling.nvim
	url = https://github.com/juniorsundar/cling.nvim
