"$schema" = 'https://starship.rs/config-schema.json'

palette = "doom"

add_newline = true

format = """\
(bright-black)$directory$git_branch$git_status$fill\
$line_break\
(bright-black)$character"""
right_format = """$nix_shell$jobs$cmd_duration$username$hostname$time"""
# Disable modules shown in the main format by default if they are empty
# format = """$all$line_break$character""" # Alternative simpler format

[line_break]
disabled = false

# --- Module Configurations ---
[fill]
symbol = " "
style = "bright-black"
disabled = false

[username]
style_user = "teal"
style_root = "red"
format = "[$user]($style)@"
show_always = false

[hostname]
style = "teal"
ssh_only = true
format = "[$hostname]($style) "
trim_at = "."
disabled = false

[directory]
style = "blue"
truncation_length = 0
truncate_to_repo = false
# truncation_length = 3
# truncation_symbol = "../"
fish_style_pwd_dir_length = 1
read_only = " 󰌾"
read_only_style = "red"
format = "[$path]($style)[$read_only]($read_only_style) "

[git_branch]
symbol = " "
style = "green"
format = "[$symbol$branch]($style)"

[git_status]
style = "red"
format = '([$all_status$ahead_behind]($style))'
conflicted = " 󱢿"
ahead = " 󰁝${count}"
behind = " 󰁅${count}"
diverged = " 󰁬-󰁝${ahead_count}-󰁅${behind_count}"
untracked = " ?${count}"
stashed = " 󰏖"
modified = " !${count}"
staged = " +${count}"
renamed = " »${count}"
deleted = " ${count}"

[cmd_duration]
min_time = 1000
style = "yellow"
format = "[took   $duration]($style) "

[jobs]
symbol = "󰑐"
style = "blue"
threshold = 1
format = "[$symbol $number]($style) "

[character]
success_symbol = "[❯](magenta)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"
vimcmd_visual_symbol = "[❮](yellow)"
vimcmd_replace_symbol = "[❮](violet)"

[nix_shell]
symbol = " "
style = "blue"
format = '[$symbol$state( \($name\))]($style) '
disabled = false

[time]
disabled = false
format = "[ $time]($style)"
time_format = "%R"
utc_time_offset = "local"
style = "dimmed white"

[palettes.doom]
grey = "#3f444a"
red = "#ff6c6b"
orange = "#da8548"
green = "#98be65"
teal = "#4db5bd"
yellow = "#ecbe7b"
blue = "#51afef"
dark_blue = "#2257a0"
magenta = "#c678dd"
violet = "#a9a1e1"
cyan = "#46d9ff"
dark_cyan = "#5699af"

