@define-color base #16181a;
@define-color blue #5ea1ff;
@define-color crust #3c4048;
@define-color flamingo #ff9f9f;
@define-color green #5eff6c;
@define-color lavender #ff5ef1;
@define-color mantle #1e2124;
@define-color maroon #d96666;
@define-color mauve #bd5eff;
@define-color overlay0 #474a55;
@define-color overlay1 #5a5e6b;
@define-color overlay2 #6e7280;
@define-color peach #ffbd5e;
@define-color pink #ff5ea0;
@define-color red #ff6e5e;
@define-color rosewater #ffd1dc;
@define-color sapphire #4a90e2;
@define-color sky #5ef1ff;
@define-color subtext0 #8a8e99;
@define-color subtext1 #a0a4b8;
@define-color surface0 #26282e;
@define-color surface1 #2e3138;
@define-color surface2 #363940;
@define-color teal #64d8cb;
@define-color text #ffffff;
@define-color yellow #f1ff5e;

* {
  font-family: 'FiraCode Nerd Font', monospace;
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid @lavender;
  border-radius: 0.1em;
  background-color: @base;
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @base;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
    border: none;
    color: @red;
}

#input * {
  outline: 4px solid @red!important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @base;
}

#entry arrow {
  border: none;
  color: @lavender;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @lavender;
}

#entry:selected #text {
  color: @mauve;
}

#entry:drop(active) {
  background-color: @lavender!important;
}
